* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}
html {
	background: #f4f4f4;
	font-size: 16px;
}
body {
	max-width: 30em;
	background: #fff;
	font-family: sans-serif;

	>header {
		h1 {
			padding: 1em 2em;
			font-weight: normal;
		}
	}
}

body>ul {
	list-style-type: none;

	li {
		border-bottom: 1px solid rgba(#33e, 0.1);
		padding: 0 1rem;
		padding-left: 2rem;

		&.done {
			button[value='check']::before {
				color: black;
			}
			input {
				font-style: italic;
				text-decoration: line-through;
				opacity: 0.5;
			}
		}

		&:last-of-type {
			button[value='check'],button[value='delete'] {
				visibility: hidden;
			}
		}

		form {
			display: flex;
			align-items: center;
			flex: 1;

			button {
				display: inline-block;
				font-size: 1em;
				width: 1.5em;
				height: 1.5em;
				border: none;
				background: transparent;
				opacity: 0;

				span {
					display: none;
				}

				&::before {
					display: block;
					color: #44a;
				}

				&[value='update'] {
					&::before {
						content: "▶";
					}
				}

				&[value='delete'] {
					&::before {
						content: "✖";
					}
				}

				&[value='add'] {
					&::before {
						content: "⊞";
					}
				}

				&[value='check'] {
					order: -1;
					border: 1px solid black;
					opacity: 0.8;

					&::before {
						color: transparent;
						content: "✓";
					}
				}
			}

			input {
				flex: 1;
				font-size: 1.25rem;
				border: none;
				outline: none;
				padding: 0.5rem 0;
				padding-left: 0.5rem;
				margin-left: 0.5rem;
				border-left: 1px solid rgba(red, 0.25);
			}

			&:hover button {
				opacity: 0.5;
			}
			input:focus~button, button:focus, button:hover {
				opacity: 1;
			}
		}
	}
}